#note textarea{
    background-image: url("./images/img2.jpg");
    background-size: cover;
    height: 480px;
    padding-top: 40px;
    padding: 40px 30px 20px;
    line-height:30px;
    resize: none;
    overflow: hidden;
}